.ProfileCard {
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
}

.ProfileCard__bg {
  width: 100%;
  height: 95px;
  display: block;
  background-size: 100%;
  border-radius: 2px 2px 0 0;
}

.ProfileCard__content {
  width: 100%;
  height: 118px;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ProfileCard__user {
  display: flex;
}

.ProfileCard__image {
  width: 72px;
  height: 72px;
  border: 3px solid #FFF;
  border-radius: 36px;
  margin: -30px 0 0 0;
}

.ProfileCard__fields {
  height: 58px;
  padding: 12px 0;
  margin-left: 10px;
  min-width: 0;
  flex-grow: 1;
  white-space: nowrap;
}

.ProfileCard__name {
  display: block;
  color: #14171a;
  font: bold 16px sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProfileCard__name:hover {
  text-decoration: underline;
}

.ProfileCard__handle {
  display: block;
  color: #657786;
  font: 14px sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ProfileCard__handle:hover {
  text-decoration: underline
}

.ProfileCard__stats {
  display: flex;
  margin-bottom: 1em;
}

.ProfileCard__stat {
  flex-grow: 1;
}

.ProfileCard__statLink:hover .ProfileCard__label {
  color: #FF7974;
}

.ProfileCard__label {
  display: block;
  color: #657786;
  font: bold 11px sans-serif;
  transition: color 0.3s;
}

.ProfileCard__value {
  display: block;
  color: #FF7974;
  font: bold 20px sans-serif;
}